/* CARD SECTION */

.card__section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.product__card{
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 1rem 0;
    background: #fafafa;
}

.product__tumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product__tumb img{
    max-width: 100%;
    max-height: 100%;
}

.product__details{
    padding: 30px;
}

.product__category{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product__details h3{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product__details p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product__bottom__details{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product__bottom__details div{
    float: left;
    width: 50%;
}

.product__price{
    font-size: 18px;
    color: #363636;
    font-weight: 600;
}

.product__links{
    text-align: right;
}

.product__links a{
    display: inline-block;
    margin-left: 5px;
    color: #363636;
    transition: 0.3s all ease-in-out;
    font-size: 17px;
}

.product__links a:hover{
    color: #999;
}
