.title__catalogo{
    margin: 1rem;
}

.container__catalogo{
    display: grid;
    grid-template-columns: 22rem auto;
}

@media (max-width: 768px){

.container__catalogo{
    display: block;
}

.filter__catalogo{
    margin: 1rem 0;
}

}