.empresa-section{
  height: 100%;
}
.empresa-div-principal{
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.empresa-descripcion{
  line-height: 1.5rem;
  margin: 0 15px;
}
.foto-perfil{
  height: 640px;
  width: 360px;
  float: right;
  border-radius: 15px;
}
.fotos-empresa{
  display: flex;
  gap: 5px;
  flex-wrap: wrap
}
.foto-empresa{
  height: 640px;
  width: 360px;
  border-radius: 15px;
}
@media (max-width: 599px){
  .foto-perfil{
    height: 426px;
    width: 240px;
    margin: 15px auto;
    display: block;
    float: none;
  }
  .foto-empresa{
    height: 426px;
    width: 240px;
    margin: 0 auto;
  }


}