.footer-container{
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    opacity: 0;
}

.footer-text{
    color: #fff;
    text-align: center;
    word-wrap: normal;
}