.logo{
    margin-top: .5rem;
    text-align: center;
}

.img__logo{
    width: 10rem;
}
  
.logo::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.link__item{
    margin: .5rem;
    padding: .5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
    border-radius: .3rem;
    transition: .3s all ease-in-out;
}

.link__item::after{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .3s all ease-in-out;
}

.link__item:hover::after{
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.MuiToolbar-root{
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 600px){
.MuiToolbar-root{
    justify-content: flex-end;
}  

.link__item::after{
    content: '';
    display: block;
    width: 0%;
    padding-bottom: .3rem;
    transition: .5s all ease-in-out;
}

.link__item:hover::after{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}

}