.inicio__section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON LINK CATALOG */

.btn__link__container{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.btn__link__container a{
    color: #fff;
}

/* SECTION EMPRESA */

.empresa__container{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    gap: 1rem;
}

.info__empresa,
.map__empresa{
    width: 50%;
}

.info__empresa{
    padding: .5rem;
}

.map__empresa{
    padding: .5rem;
}

@media (max-width: 768px){

.empresa__container{
    flex-direction: column;
}

.info__empresa,
.map__empresa{
    width: 100%;
}

}