.inicio__section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON LINK CATALOG */

.btn__link__container{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.btn__link__container a{
    color: #fff;
}

/* SECTION EMPRESA */

.empresa__container{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    background-color: violet;
}

.info__empresa,
.map__empresa{
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info__empresa{
    background-color: lightblue;
}

.map__empresa{
    background-color: yellow;
}