.title__section__card{
    margin: 2rem;
    text-align: center;
    text-transform: uppercase;
}

 /* HERO SECTION */

.hero__section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON LINK CATALOG */

.btn__link__container{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.btn__link__container a{
    color: #fff;
}

/* NEW PRODUCT SECTION */

.new__product__section{
    margin: 2rem 1rem;
}

.new__product__section::before{
    content: '';
    display: block;
    width: 50%;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

/* IMPORTANT PRODUCT SECTION */

.important__product__section{
    margin: 2rem 1rem;
}

.important__product__section::before,
.important__product__section::after{
    content: '';
    display: block;
    width: 50%;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

/* SECTION EMPRESA */

.empresa__section{
    margin: 2rem 1rem;
    display: flex;
    gap: 1rem;
}

.info__empresa,
.map__empresa{
    width: 50%;
}

.info__empresa{
    padding: .5rem;
}

.map__empresa{
    padding: .5rem;
}

@media (max-width: 768px){

.empresa__section{
    flex-direction: column;
}

.info__empresa,
.map__empresa{
    width: 100%;
}

}