.shopping-cart-container{
    height: 100vh;
    overflow: hidden;
}

.cart-items{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 7px #3483fa;
    margin: 1.8rem auto;
    width: 50%;
    border-radius: 0.3rem;
    align-items: center;
}

.cart-items-header{
    padding: 2rem 3rem;
    font-size: 1.25rem;
    height: 3rem;
}

.cart-items-empty{
    text-align: center;
    font-size: 1rem;
    padding: 1.25rem 0;
    margin-top: 1rem;
}

.cart-items-container{
    display: flex;
    justify-content: space-between;
}

.cart-items-list{
    display: flex;
    flex: 50%;
    align-items: center;
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-left: 5%;
    gap: 2rem;
}

.cart-items-image{
    width: 6.25rem;
    height: auto;
    background-color: #fff;
    border-radius: .3rem;
    margin-right: 0.6rem;
}

.cart-items-name,
.cart-items-function{
    width: 25%;
}

.cart-items-function{
    flex:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-items-btn{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.cart-items-add,
.cart-items-remove{
    width: 1.8rem;
    border: none;
    border-radius: 0.1rem;
    font-size:  1.1rem;
    color: white;
    cursor: pointer;
}

.cart-items-add{
    color: #fff;
    background-color: #3483fa;
}

.cart-items-remove{
    color: #3483fa;
    background-color: #4189e626;
}

.cart-items-add:active{
    transform: translateY(1.2px)
}

.cart-items-remove:active{
    transform: translateY(1.2px);
}

.cart-items-total-price{
    display: flex;
    align-items: center;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    justify-content: space-around;
    gap: 1rem;
}

.cart-actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.clear-cart{
    display: flex;
    justify-content: flex-end;
}

.clear-cart-button, .buy-cart-button{
    border: none;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: .5rem 2rem;

}
.clear-cart-button{
    color: #3483fa;
    background-color: #4189e626;
}

.buy-cart-button{
    color: #fff;
    background-color: #3483fa;
}

.clear-cart-button:hover{
    background-color: #4189e61e;
}
.buy-cart-button:hover{
    background-color: #5396fa;
}


@media (max-width: 1023px){

    .cart-items{
        width: 50%;
    }

    .cart-items-container{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .cart-container{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 2rem 0;
    }
    
    .cart-items-function {
        flex: 50% 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        flex-direction: column-reverse;
    }

    .cart-actions{
        flex-direction: column;
        gap: 2rem;
    }


    }

    @media (max-width: 599px){
        .cart-items{
            width: 80%;
        }
    }